<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xxx.dao.FilmMapper">
	
	<!-- 查询所有电影信息，对应FilmMapper接口中的getAllFilm方法 -->
	<select id="getAllFilm" resultType="Film">
		select * from film
	</select>
	
	<!-- 按电影编号查询电影信息，对应FilmMapper接口中的getFilmById方法 -->
	<select id="getFilmById" parameterType="int" resultType="Film">
	select * from film where id=#{id}
	</select>
	
	<!-- 按要求排序 ${变量名}表示将变量的值原样输出，就是拼接字符串 -->
	<select id="getAllFilmOrder" parameterType="map" resultType="Film">
	select * from film where 1 = 1 
	<if test="orderKey != null">
	order by ${orderKey} 
	</if>
	</select>
	
	<!-- 添加影片 -->
	<insert id="insertFilm" parameterType="Film" keyProperty="id"
		useGeneratedKeys="true">
		insert into film (fname) values (#{fname});
	</insert>
	
	<!-- 修改影片 -->
	<update id="updateFilm" parameterType="Film">
		update film
		<trim prefix="set" suffixOverrides=",">
			<if test="fname != null">
				fname = #{fname}
			</if>
		</trim>
		where id = #{id}
	</update>
	
	<!-- 删除影片 -->
	<delete id="deleteFilm" parameterType="int">
		delete from film where id = #{id}
	</delete>
	
</mapper>